player-connection-mode=Listen
player-connection-guid=427994844
player-connection-debug=0
player-connection-project-name=Project-Gensis
player-connection-ip=25.71.88.217
player-connection-ip=192.168.1.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
